
.nosotros-container {
  padding: 5rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 5rem;
  box-sizing: border-box;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .content {
    width: 90%;
    max-width: 800px;
  }
  
  .story-text {
    text-align: justify;
    line-height: 1.6;
  }
  