.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .header-links-nav{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    
  }